h4 {
    margin-left: 45px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

nav {
    justify-content: center;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    margin-top: 10px;
}

.education {
    line-height: 21px;
}

.nav:hover {
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.idioma p {
    text-indent: 16px;
}

h2 {
    font-family: "Merriweather", serif;
    margin-left: 45px
}

p {
    margin: 0 0 0 45px;
    line-height: 23px;
}

.title {
    font-family: "Merriweather", serif;
    color: #453f3f;
    font-size: 80px;
    margin: 45px;
}